name: Test
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Cache modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: projects_cache${{ hashFiles('**/package-lock.json') }}
      - name: Install deps
        run: npm install
      - name: Lint code
        run: npm run lint