name: Test
on: push
jobs:
  test_deployment:
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Get repository code
        uses: actions/checkout@v3
      - name: Cache modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: projects_cache${{ hashFiles('**/package-lock.json') }}
      - name: Install deps
        run: npm install
      - name: Test app
        run: npm run test
      - name: Lint code
        run: npm run lint